.DropDownContainer {
  display: flex;
  flex-direction: column;
  width: 20%;
  background: lightcyan;
}

.DropDownContainer a {
  text-decoration: none;
  padding: 5px 10px;
}

.DropDownContainer a:hover {
  background: rgb(169, 250, 250);
  border-radius: 10px;
}

.DropDownContainer a {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .DropDownContainer {
    display: none;
  }
}
